{% extends 'base.html' %}
{% block title %}Scan Result{% endblock title %}
{% block style %}

th{
    color: greenyellow;
}
{% endblock style %}
{% block body %}
<div class="container my-4">
    <!-- <table class="table table-dark table-striped">
        <tr>
            <th>SR No.</th>
            <th>VulName</th>
            <th>Description</th>
        </tr>
        <!-- <tr>
            <td>1.</td>
            <td>Dirgh</td>
            <td>{{data1}}</td>
        </tr> -->
    <!-- </table> --> 
    <br><br>{{data1}}<br><br>
</div>
{% endblock body %}